In [2]:
# Abrir una conexión con neo4j

from neo4j import GraphDatabase

DIRECCION = "neo4j://54.75.63.152:7687"
AUTENTICACION = ("neo4j", "password")

conexion = GraphDatabase.driver( DIRECCION , auth=AUTENTICACION )

In [3]:
def ejecutar(QUERY, PARAMETROS= None):
    session = None
    RESPUESTA = None
    try:
        session = conexion.session()
        RESPUESTA = list(session.run( QUERY, PARAMETROS ))
    except Exception as e:
        print("Error al ejecutar query", e)
    finally:
        session.close()
    return RESPUESTA

In [4]:
ejecutar( 'CREATE (:Persona { nombre: "Ivan" } )' )

[]

In [7]:
resultado = ejecutar( 'MATCH (ivan:Persona { nombre: "Ivan" } ) RETURN ivan' )

In [8]:
ivan = resultado[0]
ivan

In [14]:
import pandas as pd
import requests
import io 

peliculas_csv = requests.get("https://data.neo4j.com/intro/movies/movies.csv").content.decode("utf-8")

peliculas = pd.read_csv(io.StringIO(peliculas_csv)) # Nos simula que tenemos un fichero con ese contenido
peliculas.head(2)

                    title  released                    tagline
0              The Matrix      1999  Welcome to the Real World
1  Something's Gotta Give      1975                        NaN

In [16]:
peliculas.head(2).to_dict("records")

[{'title': 'The Matrix',
  'released': 1999,
  'tagline': 'Welcome to the Real World'},
 {'title': "Something's Gotta Give", 'released': 1975, 'tagline': nan}]

In [17]:
# UNWIND itera por cada elemento de la lista. Sería el equivalente a un for_each
query_insercion_peliculas = '''
                            UNWIND $filas AS fila
                            CREATE (pelicula:Pelicula {titulo: fila.title , fecha: fila.released , eslogan: fila.tagline})
                            RETURN count(pelicula) as total
                            '''
parametros = { "filas": peliculas.to_dict("records") }
resultado = ejecutar( query_insercion_peliculas , parametros )

In [18]:
resultado

In [19]:
personas_csv = requests.get("https://data.neo4j.com/intro/movies/people.csv").content.decode("utf-8")
personas = pd.read_csv(io.StringIO(personas_csv)) # Nos simula que tenemos un fichero con ese contenido
personas.head(2)

             name    born
0   Michael Sheen  1969.0
1  Jack Nicholson  1937.0

In [22]:
query_insercion_personas = '''
                            UNWIND $filas AS fila
                            CREATE (persona:Persona {nombre: fila.name , nacimiento: fila.born})
                            RETURN count(persona) as total
                            '''
parametros = { "filas": personas.to_dict("records") }
resultado = ejecutar( query_insercion_personas , parametros ) 
resultado

In [21]:
directores_csv = requests.get("https://data.neo4j.com/intro/movies/directors.csv").content.decode("utf-8")
directores = pd.read_csv(io.StringIO(directores_csv)) # Nos simula que tenemos un fichero con ese contenido
directores.head(2)

            person       movie
0  Lilly Wachowski  The Matrix
1   Lana Wachowski  The Matrix

In [23]:
query_insercion_directores = '''
                            UNWIND $filas AS fila
                            MATCH (persona:Persona {nombre: fila.person})
                            MATCH (pelicula:Pelicula {titulo: fila.movie})
                            MERGE (persona)-[dirigio:Dirigio]->(pelicula)
                            RETURN count(dirigio) as total
                            '''
parametros = { "filas": directores.to_dict("records") }
resultado = ejecutar( query_insercion_directores , parametros ) 
resultado

In [24]:
# ON CREATE SET
actores_csv = requests.get("https://data.neo4j.com/intro/movies/actors.csv").content.decode("utf-8")
actores = pd.read_csv(io.StringIO(actores_csv)) # Nos simula que tenemos un fichero con ese contenido
actores.head(2)

                    movie            roles        person
0  Something's Gotta Give    Julian Mercer  Keanu Reeves
1         Johnny Mnemonic  Johnny Mnemonic  Keanu Reeves

In [25]:
query_insercion_actores = '''
                            UNWIND $filas AS fila
                            MATCH (persona:Persona {nombre: fila.person})
                            MATCH (pelicula:Pelicula {titulo: fila.movie})
                            MERGE (persona)-[actuo:Actuo]->(pelicula)
                            ON CREATE SET actuo.papeles = split(fila.roles,";")
                            RETURN count(actuo) as total
                            '''
parametros = { "filas": actores.to_dict("records") }
resultado = ejecutar( query_insercion_actores , parametros ) 
resultado

In [39]:
argumentos = {"nombres": ["Keanu Reeves","Tom Cruise"]}
resultado=ejecutar("""
                    UNWIND $nombres AS nombre
                    MATCH (Persona{nombre: nombre})-[relacion]->(Pelicula)
                    <-[Actuo]-(interesado:Persona)
                    RETURN interesado.nombre, interesado.nacimiento
                    """ , argumentos)
datos=pd.DataFrame(resultado)
datos.columns=["Nombre", "Año"]

In [40]:
datos

                Nombre     Año
0          Emil Eifrem  1978.0
1         Hugo Weaving  1960.0
2   Laurence Fishburne  1961.0
3     Carrie-Anne Moss  1967.0
4         Hugo Weaving  1960.0
5   Laurence Fishburne  1961.0
6     Carrie-Anne Moss  1967.0
7         Hugo Weaving  1960.0
8   Laurence Fishburne  1961.0
9     Carrie-Anne Moss  1967.0
10           Al Pacino  1940.0
11     Charlize Theron  1975.0
12      Brooke Langton  1970.0
13        Gene Hackman  1930.0
14       Orlando Jones  1968.0
15          Dina Meyer  1968.0
16               Ice-T  1958.0
17      Takeshi Kitano  1947.0
18        Diane Keaton  1946.0
19      Jack Nicholson  1937.0
20        Aaron Sorkin  1961.0
21      Jack Nicholson  1937.0
22        Kevin Pollak  1957.0
23           Noah Wyle  1971.0
24          J.T. Walsh  1943.0
25    Cuba Gooding Jr.  1968.0
26      James Marshall  1967.0
27   Christopher Guest  1948.0
28          Demi Moore  1962.0
29         Kevin Bacon  1958.0
30   Kiefer Sutherland  1966.0
31          Val Kilmer  1959.0
32      Kelly McGillis  1957.0
33            Meg Ryan  1961.0
34        Tom Skerritt  1933.0
35     Anthony Edwards  1962.0
36         Regina King  1971.0
37         Bonnie Hunt  1961.0
38     Renee Zellweger  1969.0
39            Jay Mohr  1970.0
40    Cuba Gooding Jr.  1968.0
41     Jerry O'Connell  1974.0
42   Jonathan Lipnicki  1990.0
43       Kelly Preston  1962.0


yo-->pelicula1<--persona1-->pelicula2<-- persona2

# Persona3 que no sea Persona1

Conocer a los amigos de mis amigos!

MATCH 
(yo:Persona{nombre:"Keanu Reeves"}) -[:Actuo]-> (:Pelicula) <-[:Actuo]- (amigo_mio:Persona) -[:Actuo]-> (:Pelicula) <-[:Actuo]- (amigo_del_amigo:Persona)
WHERE NOT (yo) -[:Actuo]-> (:Pelicula) <-[:Actuo]- (amigo_del_amigo)
AND yo <> amigo_del_amigo
RETURN DISTINCT amigo_del_amigo

Yo soy "tom cruise" y quiero conocer a "Keanu Reeves"
A quién llamo?
Quizás no tengo a nadie que conozca a "Keanu Reeves"
En cuyo caso me interesa llamar a la persona que tenga un amigo que conozca a Keanu Reeves...
Pero quizás tampoco existe.

El camino más corto entre do nodos

MATCH ruta = shortestPath( (:Persona{nombre: "Val Kilmer"}) -[*1..15]- (:Persona{nombre: "Susan Sarandon"}))
RETURN ruta