In [2]:
# Notificar el uso de la libreria pymongo
from pymongo import MongoClient

# Conectarnos a la BBDD
def conectar_a_mongo():
    RUTA_DE_CONEXION_A_MONGO = "mongodb://usuario:password@172.31.32.92:27017/admin" 
    conexion_a_mongo = MongoClient( RUTA_DE_CONEXION_A_MONGO )
    return conexion_a_mongo

In [4]:
conexion = conectar_a_mongo()

In [5]:
# Acceder a la coleccion que me interesa
usuarios = conexion["curso"]["usuarios"]

In [8]:
# Hacemos una búsqueda sobre los usuarios
resultado_busqueda = usuarios.find()

In [9]:
# Recorremos los usuarios
for usuario in resultado_busqueda:
    print(usuario)

{'_id': ObjectId('63c67c0513ec1d361629a097'), 'nombre': 'Ivan', 'apellidos': 'Osuna Ayuste', 'edad': 44, 'fecha nacimiento': datetime.datetime(1978, 8, 27, 0, 0)}

In [13]:
# Hago una busqueda filtrada por el campo nombre
resultado_ivan = usuarios.find( { "nombre":  "Ivan" } )
print(resultado_ivan[0])

{'_id': ObjectId('63c67c0513ec1d361629a097'), 'nombre': 'Ivan', 'apellidos': 'Osuna Ayuste', 'edad': 44, 'fecha nacimiento': datetime.datetime(1978, 8, 27, 0, 0)}

In [14]:
# Recuperando elprimer resultado de esa busqueda
# Python lo convierte en autoamtico en un diccionario
ivan = resultado_ivan[0]
print(ivan["nombre"])
print(ivan["apellidos"])
print(ivan["edad"])

Ivan
Osuna Ayuste
44

In [16]:
# Crear un diccionario desde python, con los datos que nos interesa llevar a mongo
from dateutil import parser
ignacio = {
    "nombre": "Ignacio",
    "apellidos": "Morilla Perez",
    "edad": 33,
    "fecha nacimiento": parser.parse("1989-10-19T00:00:00.000Z")
}
print(ignacio)

{'nombre': 'Ignacio', 'apellidos': 'Morilla Perez', 'edad': 33, 'fecha nacimiento': datetime.datetime(1989, 10, 19, 0, 0, tzinfo=tzlocal())}

In [17]:
# Dar de alta en mongo ese diccionario (documento)
usuarios.insert_one( ignacio )

In [21]:
# Hago una busqueda filtrada por el campo edad < 40
resultado_menores_40 = usuarios.find( { "edad":  { "$lt": 40 } } )
for usuario in resultado_menores_40:
    print(usuario)

{'_id': ObjectId('63c7c876a2581f4721d4b3e2'), 'nombre': 'Ignacio', 'apellidos': 'Morilla Perez', 'edad': 33, 'fecha nacimiento': datetime.datetime(1989, 10, 19, 0, 0)}

In [23]:
# Podríamos llevar esto a pandas? Facilmente !
from pandas import DataFrame

datos = DataFrame(usuarios.find())
datos

                        _id   nombre      apellidos  edad fecha nacimiento
0  63c67c0513ec1d361629a097     Ivan   Osuna Ayuste    44       1978-08-27
1  63c7c876a2581f4721d4b3e2  Ignacio  Morilla Perez    33       1989-10-19

In [24]:
joseenrique = {
    "nombre": "Jose Enrique",
    "apellidos": "Moreno de la Hucha",
    "edad": 27,
    "fecha nacimiento": parser.parse("1995-10-19T00:00:00.000Z"),
    "idiomas": ["español", "ingles", "frances"]
}
print(joseenrique)

{'nombre': 'Jose Enrique', 'apellidos': 'Moreno de la Hucha', 'edad': 27, 'fecha nacimiento': datetime.datetime(1995, 10, 19, 0, 0, tzinfo=tzlocal()), 'idiomas': ['español', 'ingles', 'frances']}

In [25]:
usuarios.insert_one( joseenrique )

In [26]:
datos = DataFrame(usuarios.find())
datos

,_id,nombre,apellidos,edad,fecha nacimiento,idiomas
0,63c67c0513ec1d361629a097,Ivan,Osuna Ayuste,44,1978-08-27,NaN
1,63c7c876a2581f4721d4b3e2,Ignacio,Morilla Perez,33,1989-10-19,NaN
2,63c7ce12a2581f4721d4b3e3,Jose Enrique,Moreno de la Hucha,27,1995-10-19,"[español, ingles, frances]"

In [30]:
type(datos.iloc[2]["idiomas"])

list